/* src/App.css */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  background-color: rgb(163, 232, 164); /* Ensure the content area grows to take available space */
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
